<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Test1.2" parallel="classes" thread-count="2" >
        <classes>
            <class name="parllelTests.parllelTest1">
                <methods>
                    <include name="title"/>
                    <include name="logintitle"/>
                </methods>
            </class>
            <class name="parllelTests.parlletTest2">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>